<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">    
            <img src="../../../../../assets/img/logo.jpeg" class="img_logo">
      <button mat-fab class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" style="background: #FD9727; color: white;">
        <mat-icon>menu</mat-icon>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item" id="ops" >
            <a class="nav-link" id="prueba" routerLink="./home" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active">Inicio</a>
          </li>
          <li class="nav-item" id="ops" >
            <a class="nav-link" id="prueba" routerLink="./perfil" routerLinkActive="active">Perfil</a>
          </li>
          <li class="nav-item" id="ops">
            <a class="nav-link" id="prueba" routerLink="./membresia" routerLinkActive="active">Membresia</a>
          </li>
          <li class="nav-item" id="ops">
            <a class="nav-link" id="prueba" routerLink="./pagos" routerLinkActive="active">Pagos</a>
          </li>
          <li class="nav-item" id="ops">
            <a class="nav-link" (click)="logout()" id="prueba" routerLinkActive="active">Cerrar sesión</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>