
.logo_h {
    width: 35%;
    margin-right: 80px;
  }

  /*propiedades grid padre toolbar*/
.grid_tool {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#ops {
    display: flex; 
    align-items: center;
    justify-content: center; /* Centra horizontalmente */
    background: #FD9727;
    margin: 10px;
    width: 140px;
    height: 45px;
    border-radius: 10px;
    color: black;
    line-height: 45px; /* Alinea verticalmente */
    text-align: center; /* Centra horizontalmente */
  }

  #op {
    display: flex; 
    align-items: center;
    justify-content: center; /* Centra horizontalmente */
    background: #DF7E54;
    margin: 10px;
    width: 140px;
    height: 45px;
    border-radius: 10px;
    color: black;
    line-height: 45px; /* Alinea verticalmente */
    text-align: center; /* Centra horizontalmente */
  }
  

nav {
    border-bottom: #FD9727 solid;
    border-width: 7px;
}

#navbarNav {
    text-align: right;
    padding-right: 15px;
}

.img_logo {
    max-height: 149px;
}

