<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <img class="logo_h" src="../../../../../assets/img/logo.jpeg" />

    <!-- Utiliza el botón de menú en pantallas pequeñas -->
    <button mat-icon-button [matMenuTriggerFor]="menu" style="background: #FD9727; color: white;" class="d-block d-lg-none">
      <mat-icon>menu</mat-icon>
    </button>

    <div class="d-none d-lg-flex">
      <button class="btn" id="ops" routerLink="./home">Inicio</button>
      <button class="btn" id="ops" routerLink="./perfil">Perfil</button>
      <button class="btn" id="ops" routerLink="./membresia" >Membresia</button>
      <button class="btn" id="ops" routerLink="./pagos" >Pagos</button>
      <button class="btn" id="op" (click)="logout()">
        <fa-icon [icon]="['fas', 'power-off']" style="color: black;"></fa-icon>
      </button>
    </div>

    <!-- Define el menú desplegable con matMenu -->
    <mat-menu #menu="matMenu" class="d-lg-none">
      <button mat-menu-item routerLink="./home">Inicio</button>
      <button mat-menu-item routerLink="./perfil" >Perfil</button>
      <button mat-menu-item routerLink="./membresia">Membresia</button>
      <button mat-menu-item routerLink="./pagos">Pagos</button>
      <button mat-menu-item (click)="logout()">
        <fa-icon [icon]="['fas', 'toggle-off']" style="color: black;"></fa-icon>
      </button>
    </mat-menu>

  </div>
</nav>


