<!DOCTYPE html>

    <title>Próximos Cobros Mensuales</title>

<body>
    <div class="container mt-5">
        <h1>Próximos Cobros Mensuales</h1>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Mes</th>
                        <th>Fecha de Cobro</th>
                        <th>Monto</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let compraf of datosUltimaCompra">
                        <td> {{ obtenerMesPago(compraf.fechaInicio) }} </td>
                        <td> {{ obtenerFechaFormateadaPago(compraf.fechaInicio) }} </td>
                        <td> $ {{ compraf.precio }} </td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
    </div>


    <div class="container mt-5">
        <h1>Pagos que has realizado</h1>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Mes</th>
                        <th>Membresia</th>
                        <th>Fecha de Pago</th>
                        <th>Monto Pagado</th>
                        <th>Comprobante</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let compra of compras">
                        <td> {{ obtenerNombreMes(compra.fechaInicio) }} </td>
                        <td> {{ compra.titulo }} </td>
                        <td> {{ obtenerFechaFormateada(compra.fechaInicio) }} </td>
                        <td> $ {{ compra.precio }} </td>
                        <td><a href="comprobante_enero.pdf" class="btn btn-gym">Ver Comprobante</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</body>
