.container {
    margin-bottom: 30px;
}

.btn-gym {
    background: #FD9727; 
    color: white;
    text-decoration: none;
}

/*Propiedades de lo icomos de estatus de membresia*/
#icon_status_er {
    color: red;
}

#icon_status_ok {
    color: green;
}

/*Propiedades textos mensajes - sugerencias*/
#mensajes {
    font-size: x-small;
    display: block;
    padding-bottom: 10px;
}

/*Porpiedades texto - subtextos en contenedores*/
#sub_txt {
    display: block;
}

/*Propiedades otros iconos */
#icon_txt {
    color: #6f42c1;
}

/*Propiedades boton detalles */
#btns {
    display: block;
    margin-top: 5px;
}