<mat-dialog-actions align="end">
    <button mat-mini-fab (click)="closeDialog()" color="warn">
        <fa-icon id="icon_status_er" [icon]="['fas', 'xmark']"></fa-icon>
    </button>
  </mat-dialog-actions>

<div class="d-flex flex-row justify-content-center alig-items-center" id="ticket_user">
    <div class="alert alert-light my-4 text-center" style="min-width: 500px;">
        <div style="text-align: center;" class="my-2">
            <img style="width: 350px;" src="../../../../../assets/img/logo.jpeg" alt="logo">
        </div>
        <div><p>{{prueba}}</p>
            <div *ngFor="let item of items">
                <p><strong>Folio de compra:</strong> # {{item.idDetMem}} </p>
                <label><strong>Articulo:</strong> {{item.titulo}}</label>
                <label><strong>Inicio:</strong> {{item.fechaInicio}} - <strong>Fin: </strong>{{item.fechaFin}} </label>
                <label><strong>Sitio:</strong> {{item.nombreGym}} </label>

                <label><strong>Precio:</strong> {{item.precio}}MXN</label>
                <label><strong>Estatus:</strong> Pagado</label>
            </div>
            <div style="text-align: center;color: green; font-size: 70px; margin-top: 25px;">
                <fa-icon id="icon_status" [icon]="['fas', 'check-circle']"></fa-icon>
            </div>
        </div>
    </div>
</div>
<div class="d-flex flex-row justify-content-center alig-items-center mb-2" style="margin-bottom: 35px;">
    <button mat-raised-button style="background-color: #fd9727; font-size: 16px;" (click)="imprimirPantalla()">
        <mat-icon>description</mat-icon> Imprimir
    </button>
</div>