/**propiedades body **/
.body {
    margin: 0;
    position: relative;
    padding-bottom: 139px;
    min-height: 100vh;
}

.container {
    margin-bottom: 30px;
}

.btn-gym {
    background: #FD9727; 
    color: white;
    text-decoration: none;
}

/**Propiedades de los mensajes de validacion */
.txt_msg {
    font-size: small;
    font-weight: bold;
}

/*Propiedades de mat-inputs*/
.inputs_properties {
    width: 350px;
}