<div class="body">

    <div class="container mt-5">
        <h2>Detalle de tu membresia</h2>
        <div class="table-responsive">

            <table class="table" *ngFor="let item of datos">
                <tbody>
                    <tr>
                        <th>Tipo de Membresía</th>
                        <td> {{ item.titulo }} </td>
                    </tr>
                    <tr>
                        <th>Duración</th>
                        <td>mensual</td>
                    </tr>
                    <tr>
                        <th>Fecha de Inicio</th>
                        <td>{{item.fechaInicio}}</td>
                    </tr>
                    <tr>
                        <th>Precio</th>
                        <td>$ {{item.precio}}</td>
                    </tr>
            </table>

            <h6>Horario de sucursal/gimnasio</h6>
            <div class="d-flex flex-row justify-content-center alig-items-center">
                <div class="alert alert-secondary" role="alert" *ngFor="let hora of horarios" id="content_hrs">
                    <label id="hrs_title"><strong>{{ hora.diaSemana}}</strong></label>
                    <label id="hrs_sub"><strong>Apertura: </strong> {{ hora.horaEntrada }}</label>
                    <label id="hrs_sub"><strong>Cierre: </strong> {{hora.horaSalida}} </label>
                </div>
            </div>
        </div>
    </div>



    <div class="container mt-5">
        <h4>Te pueden interesar.</h4>
        <div class="d-flex flex-row justify-content-center alig-items-center py-5 ">
            <div *ngFor="let membresia of membresias">
                <div class="alert alert-light content_membresia" role="alert" *ngIf="membresia.titulo != nomGymActual">
                    <label class="title_m"> {{ membresia.titulo }} </label>
                    <label class="price_m">$ {{ membresia.precio }}.00 </label>
                    <div class="content_info">
                        <label class="time_m">Cuenta con una duración de {{ membresia.duracion }} meses.</label>
                        <label class="details_m">Aqui podras disfrutar de {{ membresia.detalles }} </label>
                    </div>
                    <a href="#" class="btn">Más info.</a>
                </div>
            </div>

        </div>
    </div>

</div>