<div class="body">
    
    <div class="container mt-5">
        <h1>Membresia basica</h1>
        <div class="table-responsive">
            <table class="table">
                <tbody>
                    <tr>
                        <th>Tipo de Membresía</th>
                        <td>Basica</td>
                    </tr>
                    <tr>
                        <th>Duración</th>
                        <td>mensual</td>
                    </tr>
                    <tr>
                        <th>Fecha de Inicio</th>
                        <td>15 de octubre de 2023</td>
                    </tr>
                    <tr>
                        <th>Precio</th>
                        <td>$300</td>
                    </tr>
                    <tr>
                        <th>Horario de Acceso</th>
                        <td>De Lunes a Viernes de 6am - 11pm, Sabados 8am - 6pm</td>
                    </tr>
                    <!-- <tr>
                        <th>Clases Incluidas</th>
                        <td>Yoga, Spinning, Zumba</td>
                    </tr> -->
                </tbody>
            </table>
        </div>
    </div>



    <div class="container mt-5">
        <h1>Mira los beneficios del plan premium</h1>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Característica</th>
                        <th>Descripción</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Tipo de Membresía</th>
                        <td>Gold</td>
                    </tr>
                    <tr>
                        <th>Duración</th>
                        <td>Mensual</td>
                    </tr>
                    <tr>
                        <th>Precio</th>
                        <td>$600</td>
                    </tr>
                    <tr>
                        <th>Horario de Acceso</th>
                        <td>24/7</td>
                    </tr>
                    <!-- <tr>
                        <th>Clases Incluidas</th>
                        <td>Yoga, Spinning, Zumba</td>
                    </tr> -->
                    <tr>
                        <th>Acceso a dietas personalizadas</th>
                        <td>Incluido</td>
                    </tr>
                    <tr>
                        <th>Descuento Adicional</th>
                        <td>10% en cada mes</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
</div>
