/**propiedades body **/
.body {
    margin: 0;
    position: relative;
    padding-bottom: 139px;
    min-height: 100vh;
}

.container {
    margin-bottom: 30px;
}

.btn-gym {
    background: #FD9727; 
    color: white;
    text-decoration: none;
}

/*Propiedades labels horarios*/
#hrs_title {
    display: block;
    font-size: large;
}

#hrs_sub {
    display: block;
    font-size: small;
}

/*Propiedades contenedor horarios */
#content_hrs {
    width: 150px;
    margin: 5px;
    display: inline-block;
}



.content_membresia {
    margin: 10px;
    width: 350px;
    text-align: center;
    justify-content: center;
    background: rgb(255,255,255);
background: linear-gradient(170deg, rgba(255,255,255,1) 0%, rgba(20,9,48,1) 88%);
}

.title_m {
    font-size: 30px;
    color: white;
    font-weight: bold;
    display: block;
}

.price_m {
    display: block;
    font-size: 25px;
    color: #d27300;
    font-weight: bold;
    text-decoration: underline;
}

.time_m {
    display: block;
    color: white;
    font-size: 15px;
    text-justify: distribute;
}

.details_m {
    display: block;
    color: white;
    text-justify: distribute;
    font-size: 15px;
}

.content_info {
    width: 100%;
    height: 150px;
    text-align: center;
    justify-content: center;
}

.btn {
    color: white;
    background: red;
    border-radius: 50px;
    width: 150px;
    height: 35px;
}